<form class="{{cssClass}}" autocomplete="off">
    {{> "systems/tinyd6/templates/partials/item-header.hbs" placeholder='tinyd6.armor.name'}}
    <table>
        <tr>
            <th class="text-nowrap">{{localize 'tinyd6.armor.type'}}</th>
            <th class="text-nowrap">{{localize 'tinyd6.armor.damageReduction'}}</th>
            <th class="text-nowrap">{{localize 'tinyd6.armor.slots'}}</th>
        </tr>
        <tr>
            <td>
                <select name="system.group">
                    {{#select data.system.group}}
                        {{#each config.armorTypes as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </td>
            <td>
                <input type="text" class="text-center" name="system.damageReduction" value="{{data.system.damageReduction}}" data-dtype="Number"/>
            </td>
            <td>
                <input type="text" class="text-center" name="system.slots" value="{{data.system.slots}}" data-dtype="Number"/>
            </td>
        </tr>
    </table>
    {{editor descriptionHTML target="system.description" button=true owner=owner editable=editable}}
</form>
